cryptography
dnspython
joblib
numpy
piexif
Pillow
pycryptodome
pqcrypto
PySocks
PyQt5
PyQtWebEngine
PyQtWebEngine-Qt5
requests
scikit-learn
shiboken6
matplotlib
pynacl
psutil
httpx
aiohttp
aiohttp_socks
beautifulsoup4
rich
stem
tls-client
lxml
